
	<!--   Core JS Files   -->
	<script src="/static/assets/js/core/jquery.3.2.1.min.js"></script>
	<script src="/static/assets/js/core/popper.min.js"></script>
	<script src="/static/assets/js/core/bootstrap.min.js"></script>

	<!-- jQuery UI -->
	<script src="/static/assets/js/plugin/jquery-ui.min.js"></script>
	<script src="/static/assets/js/plugin/jquery.ui.touch-punch.min.js"></script>

	<!-- jQuery Scrollbar -->
	<script src="/static/assets/js/plugin/jquery.scrollbar.min.js"></script>

	<!-- Chart JS -->
	<script src="/static/assets/js/plugin/chart.min.js"></script>

	<!-- jQuery Sparkline -->
	<script src="/static/assets/js/plugin/jquery.sparkline.min.js"></script>
	
	<!-- Bootstrap Notify -->
	<script src="/static/assets/js/plugin/bootstrap-notify.min.js"></script>

	<!-- Sweet Alert -->
	<script src="/static/assets/js/plugin/sweetalert2.all.min.js"></script>

	<!-- Plotly.js -->
	<script src="/static/assets/js/plugin/plotly-latest.min.js"></script>


