<!-- Data Table -->
<link rel="stylesheet" href="/static/assets/css/datatables/datatables.min.css">
<link rel="stylesheet" href="/static/assets/css/datatables/dataTables.bootstrap4.min.css">

<!-- buttons(Download) -->
<!-- <link rel="stylesheet" href="/static/assets/css/datatables/buttons.dataTables.min.css"> -->
<link rel="stylesheet" href="/static/assets/css/datatables/buttons.bootstrap4.min.css">

<!-- FixedHead -->
<link rel="stylesheet" href="/static/assets/css/datatables/fixedHeader.bootstrap4.min.css">
<!-- <link rel="stylesheet" href="/static/assets/css/datatables/fixedHeader.dataTables.min.css"> -->
<!-- <link href="https://cdn.datatables.net/fixedheader/3.1.7/css/fixedHeader.dataTables.min.css" rel="stylesheet" type="text/css" /> -->
<!-- col reOrder -->
<link rel="stylesheet" href="/static/assets/css/datatables/colReorder.bootstrap4.min.css">
