
<!-- Datatables -->
<script src="/static/assets/js/plugin/datatables/datatables.min.js"></script>
<script src="/static/assets/js/plugin/datatables/dataTables.bootstrap4.min.js"></script>

<!-- button -->
<script src="/static/assets/js/plugin/datatables/buttons.bootstrap4.min.js"></script>
<script src="/static/assets/js/plugin/datatables/dataTables.buttons.min.js"></script>
<script src="/static/assets/js/plugin/datatables/jszip.min.js"></script>
<script src="/static/assets/js/plugin/datatables/buttons.colVis.min.js"></script>
<script src="/static/assets/js/plugin/datatables/buttons.html5.min.js"></script>
<script src="/static/assets/js/plugin/datatables/buttons.print.min.js"></script>
<!-- fixed header -->
<script src="/static/assets/js/plugin/datatables/dataTables.fixedHeader.min.js"></script>
<script src="/static/assets/js/plugin/datatables/fixedHeader.bootstrap4.min.js"></script>
<!-- <script src="https://cdn.datatables.net/fixedheader/3.1.7/js/dataTables.fixedHeader.min.js"></script> -->

<!-- col reOrder -->
<script src="/static/assets/js/plugin/datatables/colReorder.bootstrap4.min.js"></script>
<script src="/static/assets/js/plugin/datatables/dataTables.colReorder.min.js"></script>

<!-- row reOrder -->