{% extends "layouts/default.html" %}

{% block title %} Dashboard {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}
{% include 'includes/table_css.html' %}
<style>
/* #result_table {
  table-layout: fixed;
  width: 100% !important;
} */
/* #result_table td,
#result_table th{
  width: auto !important;
  white-space: normal;
  text-overflow: ellipsis;
  overflow: hidden;
} */
.h-100 {
    height: 79vh !important;
}
.hmtext {
  overflow: hidden;
  text-overflow: ellipsis;
}

</style>

{% endblock stylesheets %}

{% block content %}

<div class="jumbotron">
  <div class="container">
    <h1 class="display-4">Genome-wide CRISPR Library</h1>
    <p>This is a Genome-wide CRISPR Library Blah Blah Blah Alice bob cindy david Blah Blah Blah Alice bob cindy david Blah Blah Blah Alice bob cindy david Blah Blah Blah Alice bob cindy david Blah Blah Blah Alice bob cindy david Blah Blah Blah Alice bob cindy david Blah Blah Blah Alice bob cindy david Blah Blah Blah Alice bob cindy david Blah Blah Blah Alice bob cindy david ...  
      <a class="text-siais" href="/about.html">More</a></p>
    <form class="form-inline mx-auto my-2 my-lg-0" id="search-form" url="{% url 'crispr_lib_page' %}" method="POST">
      {% csrf_token %}
      <label for="search_box_id">Gene Symbol<a class="text-muted">(s)</a>&nbsp;or CCDS ID<a class="text-muted">(s)</a>:&nbsp;</label>
      <textarea name="search_keywords"  class="form-control mr-sm-2 col-8" type="text" placeholder="Input the Gene Symbol(s) or CCDS ID(s). Separate keywords with a comma or a space.
e.g. ALX1,CCDS47813.1,CCDS9942.1,CDH9" id="search_box_id" aria-label="Search" required>{{ search_keywords }}</textarea>
      <button class="btn btn-outline-siais my-2 my-sm-0" type="submit" id="search-btn">Search</button>
    </form>
  </div>
</div>

{% if have_search %}
<div class="container" id="result_container" style="margin-bottom: 8vh;">
  <div class="row">
    <div class="col-8"><h5>Search Results:</h5></div>
    <!-- <div class="col"><button class="btn btn-siais float-right"><i class="fas fa-download  "></i> Download Result(.csv)</button></div> -->
  </div>
  <div class="row"><div class="col-12 text-sm">
    <p><small><strong>Found:</strong>
      {% if found_info.hit|length > 30 %}
      <a data-toggle="collapse" data-target="#hits" href="#">Check all {{ found_info.hit|length }} hits.&nbsp;</a>
      <a id="hits" class='collapse'>{% for kw in found_info.hit %} &nbsp;{{kw}}{% endfor %}&nbsp;</a>
      {% else %}
      <a>{% for kw in found_info.hit %} &nbsp;{{kw}} {% empty %} None{% endfor %}&nbsp;</a>
      {% endif %}
    </small></p>
    <p><small><strong>Miss:</strong>
      {% if found_info.miss|length > 30 %}
      <a data-toggle="collapse" data-target="#misses" href="#">Check all {{ found_info.miss|length }} misses.&nbsp;</a>
      <a id="misses" class='collapse'>{% for kw in found_info.miss %} &nbsp;{{kw}}{% endfor %}&nbsp;</a>
      {% else %}
      <a>{% for kw in found_info.miss %} &nbsp;{{kw}} {% empty %} None{% endfor %}&nbsp;</a>
      {% endif %}
    </small></p>
  </div></div>
  <div class="row"> <div class="col-12">
    {% autoescape off %}
    {{ table }}
    {% endautoescape %}
  </div></div>

{% endif %}
</div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->s
{% block javascripts %}
{% include 'includes/table_scripts.html' %}
<script>
  $(document).ready(function() {
    // document.getElementById('result_table').style["table-layout"] = "flex";
    var table = $('#result_table').DataTable( {
      buttons: [ 'copyHtml5', 'excelHtml5', 'csvHtml5', 'colvis', 'print'],
      lengthChange: true,
      fixedHeader: {headerOffset: $('#navbar').outerHeight()},
      colReorder: true,
      columnDefs: [
        {  targets: 2,
         render: function (data, type, row, meta) {
            return '<a target="_blank" href="https://www.ncbi.nlm.nih.gov/CCDS/CcdsBrowse.cgi?REQUEST=CCDS&DATA=' + data +'">' + data + '</a>';
         }}
      ]
    } );
 
    table.buttons().container()
        .appendTo( '#result_table_wrapper .col-md-6:eq(0)' );
  } );
  // document.getElementById('result_table').style['table-layout'] = "fixed";

</script>
{% endblock javascripts %}
